<template>
  <div class="seccion cabecera-web">
    <div
      class="h-[500px] w-full bg-[url('https://images.unsplash.com/photo-1557787163-1635e2efb160?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1173&q=80')] bg-no-repeat bg-cover bg-center text-blanco flex flex-col justify-center items-center text-center lg:items-start lg:px-16 lg:text-left"
    >
      <div class="w-2/3 mb-3 text-3xl lg:w-1/3">Titulo Home</div>
      <div class="w-2/3 lg:w-1/3">
        Lorem ipsum dolor sit amet, recusandae culpa sequi repellendus saepe
        delectus quidem nulla magnam, totam vero architecto suscipit cum ratione
        earum obcaecati.
      </div>
      <div
        class="flex items-center px-6 py-4 mt-8 font-medium rounded-sm cursor-pointer text-blanco bg-primario hover:bg-accent"
      >
        <div>Comprar bonos</div>
      </div>
    </div>
  </div>
</template>